* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #3cb371;
    font-family: Arial, Helvetica, sans-serif; 
}
main {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: flex;
}
.photo {
    height: fit-content;
}

section {
    display: flex;
    flex-direction: column;
}
div {
    margin: 10px;
    background: white;
}
h2 {
    padding: 20px;
}
p {
    padding: 20px;
}
img {
    width: 100%;
}
footer {
    display: flex;
    justify-content: space-between;
}
footer p {
    font-size: 0.8em;
    color: #4c4747;
}
.right {
    min-width: 320px;
}

@media (max-width: 1200px) {
    main {
        flex-direction: column;
    }
}




